.send {
  background-color: var(--color-gray);
  padding: 1.2rem 1.2rem 0.75rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  min-height: 120px;
}
.sendTitle {
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}
.range {
  margin: 1rem 0;
}
.range input {
  width: 100%;
}
.rangeIndicator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.rangeIndicator button {
  color: var(--color-gray-dark);
  opacity: 0.5;
}
