.container {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: white;
}

.backButton {
  cursor: pointer;
  padding: 1rem 1rem 1rem 0rem;
}

.title {
  font-weight: bold;
}

.headerRight {
  position: absolute;
  right: 0;
}
