.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 0.5rem;
  font-weight: bold;
}
